{
  "presets": [
    [
      "env", {
        "targets": {
          "browsers": ["last 2 versions", "Explorer 10"]
        },
        "useBuiltIns": true
      }
    ],
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-object-assign"
  ]
}
